/* service.css */
.services{
    color: #554225;
    background: #fff;}
    .title{
        text-align: center;
        margin-bottom: 30px;
            margin-top: 15px;}
.services .serv-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.services .serv-content .card{
    width: calc(33% -20px);
    border-radius: 6px;
    padding: 5px 5.5px;}
.text{
    display: flex;
    justify-content: left;
    padding: 0.2px 0.3px 20px;
    font-size: 15px;
    font-weight: 900;
    text-indent: 100px;}

    .serv-content .card.p{
        text-align: justify;
        margin: 0 auto;}