@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 0 1300px;
    padding: 0;
    margin: auto;
}
.nab{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background: #b2c248;
    font-family: Monserrat, sans-serif;
    transition: all 0.3s ease;
}

.nab .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nab.logo a{
    color: #554225;
    font-size: 35px;
    font-weight: 600;
}
.nab .menu li{
    list-style: none;
    display: inline-block;
}

.nab .menu li a{
    color: #522452;
    font-size: 18px;
    font-weight: 600;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.nab .menu li a:hover{
    color: #fff
}

.home{
    display: flex;
    background: url("Assets/istockphoto-1030499482-612x612.jpg") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-backgrouns-size: cover;
    background-size: cover;
    color: #fcc404;
    min-height: 730px;
    max-height: max-content;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 27px;

}
.home .home-content .text-2{
font-size: 27px;
}
/* services sect style */
